---
import Slide from "../components/slide.astro";
---

<Slide>
	<h2>Browser support policy</h2>
	<p><strong>Traditional:</strong> Test latest two major versions.</p>
	<p><strong>Better:</strong> Freely use <q>widely available</q> features, as defined by the <a href="https://web.dev/baseline">Web Platform Baseline</a>.</p>
</Slide>

<Slide>
	<h3>Feature stages of Baseline</h3>
	<ol>
		<li><strong>Limited availability:</strong> <br>Does not work in all core browsers.</li>
		<li><strong>Newly available:</strong><br>Works in all core browsers.</li>
		<li><strong>Widely available:</strong><br>Has worked in all core browsers for 2.5+ years.</li>
	</ol>
</Slide>

<Slide>
	<h3>Tools showing Baseline</h3>
	<ul>
		<li><a href="https://developer.mozilla.org">MDN documentation</a></li>
		<li><a href="https://caniuse.com">Can I Use</a></li>
		<li><a href="https://web.dev/blog/baseline-devtools-css">Chrome Dev Tools</a></li>
		<li><a href="https://rviscomi.github.io/timebase/">Baseline Timeline</a></li>
		<li><a href="https://webstatus.dev/">Web Platform Status</a></li>
	</ul>
</Slide>

<Slide>
	<h3>Developer experience with Baseline</h3>
	<ul>
		<li>Simplifies and clarifies decision-making.</li>
		<li>Confidently adopt modern features and standards.</li>
		<li>Build faster with less code.</li>
		<li>Reduce tech debt, polyfills, and fallbacks.</li>
	</ul>
</Slide>

<Slide>
	<h3>User experience with Baseline</h3>
	<ul>
		<li>Faster load times.</li>
		<li>Lighter network resources.</li>
		<li>UI can adapt to user preferences and context<br>(color scheme, high contrast, reduced motion, device size, orientation, input type, location).</li>
	</ul>
</Slide>
