---
import Slide from "../components/slide.astro";
---

<Slide>
	<h2>Contribute to v3</h2>
	<ul>
		<li>See it</li>
		<li>Try it</li>
		<li>Use it</li>
		<li>Share feedback</li>
	</ul>
</Slide>

<Slide>
	<h3>See v3</h3>
	<ul>
		<li><strong>Sandbox:</strong> <a href="https://indiana-university.github.io/rivet-source/">indiana-university.github.io/rivet-source/</a></li>
		<li><strong>Dev branch:</strong> <a href="https://github.com/indiana-university/rivet-source/tree/v3-main">v3-main</a></li>
	</ul>
</Slide>

<Slide>
	<h3>Try v3</h3>
	<ul>
		<li><strong>Prototype:</strong> <a href="https://codepen.io/basham/pen/MYjBVzE">Rivet Template v3 (CodePen)</a></li>
		<li><strong>Dist folder:</strong> <a href="https://app.unpkg.com/rivet-core@3.0.0-alpha.10/files/dist">Browse v3 package on Unpkg</a></li>
	</ul>
</Slide>

<Slide>
	<h3>Dist folder</h3>
	<table>
		<thead>
			<tr>
				<th>File</th>
				<th>Notes</th>
			</tr>
		</thead>
		<tr>
			<th>rivet.css</th>
			<td>Required. Includes 31 core icons.</td>
		</tr>
		<tr>
			<th>rivet-icons.css</th>
			<td>Opt-in for 190 extra icons.</td>
		</tr>
		<tr>
			<th>rivet-stickers.css</th>
			<td>Opt-in for 172 stickers.</td>
		</tr>
		<tr>
			<th>rivet.js</th>
			<td>Opt-in for interactive components.</td>
		</tr>
	</table>
</Slide>

<Slide>
	<h3>Use v3</h3>
	<p>Partner with us to adopt v3 in an upcoming project.<b>*</b></p>
	<ul>
		<li>Enterprise Student</li>
		<li>Rivet React 3</li>
	</ul>
	<p><small><b>*</b> Documentation is non-existent during alpha phases.</small></p>
</Slide>

<Slide>
	<h3>Share feedback</h3>
	<ul>
		<li>Email us (<a href="mailto:eeds@iu.edu">eeds@iu.edu</a>)</li>
		<li>Chat with us (<a href="https://app.slack.com/client/TEQMR3FBQ/CNLHLKTUL">UITS Slack #service-rivet</a>)</li>
		<li>Start discussions, issues, and pull requests (<a href="https://github.com/indiana-university/rivet-source/">GitHub repo</a>)</li>
	</ul>
</Slide>

<Slide>
	<h3>Feedback topics</h3>
	<ul>
		<li>How can we help you adopt v3?</li>
		<li>What is your wish list for Rivet?</li>
		<li>What annoys you as a developer using Rivet?</li>
	</ul>
</Slide>
