---
import Slide from "../components/slide.astro";
---

<Slide>
	<h2>Templating upgrades</h2>
	<p><strong>Demo:</strong> <a href="https://kokomo.iu.edu/" target="_blank">IU&nbsp;Kokomo website</a></p>
	<ul>
		<li>Theming (light, crimson, dark)</li>
		<li>Spacing (uniform spacing between sections without utility classes)</li>
		<li><a href="https://rivet.iu.edu/icons-stickers/sticker-library/" target="_blank">Rivet Stickers</a></li>
		<li>Adaptive link styles</li>
	</ul>
</Slide>
