---
import Slide from "../components/slide.astro";
---

<Slide>
	<h2>Modern features in Rivet 3</h2>
</Slide>

<Slide>
	<h3>Color themes</h3>
	<p><code set:text={`<div class="rvt-theme-crimson">`} /></p>
	<ul>
		<li>3 themes: Light. Dark. Crimson.</li>
		<li><a href="https://indiana-university.github.io/rivet-source/layouts/tier-1/tier-1-default/" target="_blank">Layout example</a>: Light header and crimson footer</li>
	</ul>
</Slide>

<Slide>
	<h3>Stickers</h3>
	<p><code set:text={`<rvt-sticker name="accessibility" size="lg" theme="info">`} /></p>
	<ul>
		<li>Custom element (without JavaScript)</li>
		<li><a href="https://indiana-university.github.io/rivet-source/components/sticker/sticker/" target="_blank">5 color themes and 5 sizes</a></li>
		<li><a href="https://indiana-university.github.io/rivet-source/components/sticker/sticker-library/">172 stickers</a> (opt-in)</li>
	</ul>
</Slide>

<Slide>
	<h3>Hero</h3>
	<ul>
		<li><a href="https://indiana-university.github.io/rivet-source/components/hero/" target="_blank">5 variants</a> (including <a href="https://indiana-university.github.io/rivet-source/components/hero/hero-feature/" target="_blank">Feature Hero</a>)</li>
		<li><a href="https://github.com/indiana-university/rivet-source/blob/v3.0.0-alpha.10/src/base/fonts.css#L8-L120" target="_blank">Fluid typography</a>: Custom properties, clamp()</li>
		<li><a href="https://github.com/indiana-university/rivet-source/blob/v3.0.0-alpha.10/src/components/hero/hero.scss#L115-L211" target="_blank">When hero width is at least 864px:</a> Container queries, grid, :has(), :is(), nesting</li>
	</ul>
</Slide>
