---
import Slide from "../components/slide.astro";
---

<Slide>
	<h1>Rivet 3 for Developers</h1>
	<p>Chris Basham & Zachary Todd</p>
	<p><a href="https://www.statewideit.iu.edu">Statewide IT Conference 2026</a></p>
</Slide>

<Slide>
	<h2>UITS Enterprise Experience</h2>
	<p>
		<strong>Chris Basham</strong> (<a href="mailto:csbasham@iu.edu">csbasham@iu.edu</a>)
		<br>Design Systems team
	</p>
	<p>
		<strong>Zachary Todd</strong> (<a href="mailto:zttodd@iu.edu">zttodd@iu.edu</a>)
		<br>User Experience Design team
	</p>
</Slide>

<Slide>
	<h2>Topics</h2>
	<ul>
		<li>Plan for v3 release</li>
		<li>How you can contribute</li>
		<li>Demo completed work</li>
		<li>Questions and answers</li>
	</ul>
</Slide>

<Slide>
	<h2>Templating upgrades</h2>
	<p><strong>Demo:</strong> <a href="https://kokomo.iu.edu/" target="_blank">IU&nbsp;Kokomo website</a></p>
	<ul>
		<li>Theming (light, crimson, dark)</li>
		<li>Spacing (uniform spacing between sections without utility classes)</li>
		<li><a href="https://rivet.iu.edu/icons-stickers/sticker-library/" target="_blank">Rivet Stickers</a></li>
		<li>Adaptive link styles</li>
	</ul>
</Slide>