---
import Slide from "../components/slide.astro";
---

<Slide>
	<h1>Rivet 3 for Developers</h1>
	<p>Chris Basham & Zachary Todd</p>
	<p><a href="https://www.statewideit.iu.edu">Statewide IT Conference 2026</a></p>
</Slide>

<Slide>
	<h2>Topics</h2>
	<ul>
		<li>Completed work</li>
		<li>Upcoming work</li>
		<li>How you can contribute</li>
		<li>Questions and answers</li>
	</ul>
</Slide>

<Slide>
	<h2>UITS Enterprise Experience</h2>
	<p>
		<strong>Chris Basham</strong> (<a href="mailto:csbasham@iu.edu">csbasham@iu.edu</a>)
		<br>Design Systems team
	</p>
	<p>
		<strong>Zachary Todd</strong> (<a href="mailto:zttodd@iu.edu">zttodd@iu.edu</a>)
		<br>User Experience Design team
	</p>
</Slide>

<Slide>
	<h2>Lifecycle</h2>
	<table>
		<thead>
			<tr>
				<th></th>
				<th class="rvt-text-right">v1</th>
				<th class="rvt-text-right">v2</th>
				<th class="rvt-text-right">v3</th>
			</tr>
		</thead>
		<tr>
			<th>Development</th>
			<td class="rvt-text-right">8</td>
			<td class="rvt-text-right">32<b>*</b></td>
			<td class="rvt-text-right">10+</td>
		</tr>
		<tr>
			<th>Lifespan</th>
			<td class="rvt-text-right">68</td>
			<td class="rvt-text-right">44+</td>
			<td class="rvt-text-right">-</td>
		</tr>
	</table>
	<p><b>*</b> Pandemic interrupt</p>
</Slide>

<Slide>
	<h2>Expected timetable</h2>
	<p><strong>Spring 2027:</strong> v3 release</p>
	<p><strong>Spring 2028:</strong> v2 end of life</p>
</Slide>

<Slide>
	<h2>Plan for v3 release</h2>
	<p><strong>Phase 1:</strong> Site Builder (currently here)</p>
	<p><strong>Phase 2:</strong> Custom apps</p>
	<p><strong>Phase 3:</strong> Beta testing</p>
	<p><strong>Phase 4:</strong> Release candidate testing</p>
</Slide>

<Slide>
	<h2>Phase 1: Site Builder</h2>
	<ul>
		<li>Browser support policy</li>
		<li>Design tokens</li>
		<li>Color theme</li>
		<li>Website components</li>
	</ul>
</Slide>

<Slide>
	<h2>Phase 2: Custom apps</h2>
	<ul>
		<li>Form and JavaScript components</li>
		<li>Utility styles</li>
		<li>Stabilize HTML/CSS/JS APIs</li>
	</ul>
</Slide>

<Slide>
	<h2>Phase 3: Beta testing</h2>
	<ul>
		<li>Quality assurance tooling</li>
		<li>Migration strategies</li>
		<li>Documentation</li>
		<li>Resources for designers (Figma)</li>
	</ul>
</Slide>

<Slide>
	<h2>Phase 4: Release candidate testing</h2>
	<ul>
		<li>Bug squashing</li>
		<li>Ideally no more breaking API changes</li>
		<li>Clarify and expand documentation</li>
	</ul>
</Slide>

<Slide>
	<h2>Contribute</h2>
	<ul>
		<li>See v3 now</li>
		<li>Use v3 now (at your own risk)</li>
		<li>Share feedback</li>
	</ul>
</Slide>
