---
import Slide from "../components/slide.astro";
---

<Slide>
	<h1>Rivet 3 for Developers</h1>
	<p>Chris Basham & Zachary Todd</p>
	<p>Statewide IT &mdash; April 14, 2026</p>
</Slide>

<Slide>
	<h2>Topics</h2>
	<ul>
		<li>Rivet history and plan</li>
		<li></li>
	</ul>
</Slide>

<Slide>
	<h2>Timeline</h2>
	<ul>
		<li>…</li>
		<li>…</li>
	</ul>
</Slide>
