---
import Slide from "../components/slide.astro";
---

<Slide>
	<h1>Rivet 3 for Developers</h1>
	<p>Chris Basham & Zachary Todd</p>
	<p><a href="https://www.statewideit.iu.edu">Statewide IT Conference 2026</a></p>
</Slide>

<Slide>
	<h2>UITS Enterprise Experience</h2>
	<p>
		<strong>Chris Basham</strong> (<a href="mailto:csbasham@iu.edu">csbasham@iu.edu</a>)
		<br>Design Systems team
	</p>
	<p>
		<strong>Zachary Todd</strong> (<a href="mailto:zttodd@iu.edu">zttodd@iu.edu</a>)
		<br>User Experience Design team
	</p>
</Slide>

<Slide>
	<h2>Topics</h2>
	<ul>
		<li>Plan for v3 release</li>
		<li>How you can contribute</li>
		<li>Demos</li>
		<li>Questions</li>
	</ul>
</Slide>

<Slide>
	<h2>Rivet Design System</h2>
	<p><a href="https://rivet.iu.edu/">rivet.iu.edu</a></p>
	<ul>
		<li>A system for designing and building digital interfaces at IU.</li>
		<li>Built with plain HTML, CSS, and JavaScript.</li>
		<li>Rivet helps teams create familiar and accessible experiences across platforms.</li>
	</ul>
</Slide>
