---
//import "rivet-core/dist/rivet.css";
//import "rivet-core/dist/rivet-icons.css";
//import "rivet-core/dist/rivet-stickers.css";
import Intro from "../slides/intro.astro";

const rivetUrl = "https://unpkg.com/rivet-core@3.0.0-alpha.9/dist";
---

<html>
	<head>
		<link rel="stylesheet" href={`${rivetUrl}/rivet.css`}>
		<link rel="stylesheet" href={`${rivetUrl}/rivet-icons.css`}>
		<link rel="stylesheet" href={`${rivetUrl}/rivet-stickers.css`}>
	</head>
	<body>
		<Intro />
	</body>
</html>

<style>
	html {
		scroll-behavior: auto;
	}
</style>

<script>
	function goToSlide(action: string) {
		const ids = [...document.querySelectorAll("swit-slide")]
			.map((slide) => slide.getAttribute("id"));

		if (!ids.length) {
			return;
		}

		const targetId = window.location.hash.slice(1);
		const match = ids.findIndex((id) => id === targetId);
		const index = match === -1 ? 0 : match;
		const current = ids.at(index);
		const first = ids.at(0);
		const last = ids.at(-1);
		const next = current === last ? first : ids.at(index + 1);
		const prev = current === first ? last : ids.at(index - 1);
		const actionMap = { first, last, next, prev };
		const slideId = actionMap[action as keyof typeof actionMap];

		if (!slideId) {
			return;
		}

		window.location.hash = `#${slideId}`;
	}

	document.addEventListener("keydown", (event) => {
		if (event.key === "ArrowLeft") {
			goToSlide(event.shiftKey ? "first" : "prev");
		}
		if (event.key === "ArrowRight") {
			goToSlide(event.shiftKey ? "last" : "next");
		}
	});
</script>
