---
//import "rivet-core/dist/rivet.css";
//import "rivet-core/dist/rivet-icons.css";
//import "rivet-core/dist/rivet-stickers.css";
import Slides from "../content/slides.astro";

const rivetUrl = "https://unpkg.com/rivet-core@3.0.0-alpha.9/dist";
---

<html>
	<head>
		<link rel="stylesheet" href={`${rivetUrl}/rivet.css`}>
		<link rel="stylesheet" href={`${rivetUrl}/rivet-icons.css`}>
		<link rel="stylesheet" href={`${rivetUrl}/rivet-stickers.css`}>
	</head>
	<body>
		<Slides />
	</body>
</html>
