---
//import "rivet-core/dist/rivet.css";
//import "rivet-core/dist/rivet-icons.css";
//import "rivet-core/dist/rivet-stickers.css";

const rivetUrl = "https://unpkg.com/rivet-core@3.0.0-alpha.9/dist";
---

<html>
	<head>
		<link rel="stylesheet" href={`${rivetUrl}/rivet.css`}>
		<link rel="stylesheet" href={`${rivetUrl}/rivet-icons.css`}>
		<link rel="stylesheet" href={`${rivetUrl}/rivet-stickers.css`}>
	</head>
	<body>
		<h1>Rivet 3 for Developers</h1>
	</body>
</html>

<style>
	h1 {
		font: var(--rvt-font-16-bold);
	}
</style>
