---
import Slide from "../components/slide.astro";
---

<Slide>
	<h1>Rivet 3 for Developers</h1>
	<p>Chris Basham & Zachary Todd</p>
	<p>Statewide IT &mdash; April 14, 2026</p>
</Slide>
<Slide>
	<h2>Outline</h2>
</Slide>
